/* GLOBAL STYLES */

body {
  margin: 0;
}

button {
  background-color: #474700;
  color: #fff;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* CALCULATOR STYLES */
.calculator {
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #808000;
  color: #fff;
}

.buttons {
  display: flex;
}

.number-buttons {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% * 3 / 4);
}

.number-buttons > button {
  width: calc(100% / 3);
}

.utility-buttons {
  display: flex;
  flex-direction: column;
  width: calc(100% * 1 / 4);
}